<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin.Username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.Password %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
