<h1><font size="2"> </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @comment.review_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<br/>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>

