<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.User_id %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @comment.reviews_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
