<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FName %><br>
    <%= f.text_field :FName %>
  </div>
  <div class="field">
    <%= f.label :LName %><br>
    <%= f.text_field :LName %>
  </div>
  <div class="field">
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
  </div>
  <div class="field">
    <%= f.label :Birthdate %><br>
    <%= f.date_select :Birthdate %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.text_field :Password %>
  </div>
  <div class="field">
    <%= f.label :Bio %><br>
    <%= f.text_area :Bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
