<h1><font size="3"> Items</h1>



    <% @items.each do |item| %>
   <ul>
        <li><strong>Category:</strong><%= item.category.name %></li><br/>
        <li><strong>Name:</strong><%= item.name %></li><br/>
        <div style = "margin-left : 40px;">
        <li><%= item.description %></li>
    </div>
        <br/>
        <li><%= link_to 'Show', item %></li>
        <li><%= link_to 'Write Review', item %></li>

        <% if current_user.role == 1 %>
        <li> <%= link_to 'Edit', edit_item_path(item) %></li>
         <li> <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% else %>
        <% end %>
        <br/>
</ul>
    <% end %>

<br>
<% if current_user.role == 1 %>
<%= link_to 'New Item', new_item_path %>
        <% else %>
        <% end %>