<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@item.Category_id).name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<h2> Reviews </h2>
  <div id="reviews">
    <% @item.reviews.each do |review| %>
      <%= div_for review do %>
      <p>
        <strong> Posted <%= time_ago_in_words(review.created_at) %> </strong>
        <br/>
        <%= h(review.body) %>
      </p>
    <%end%>
  <%end%>
</div>

<%= form_for [@item, Review.new], remote: true do |f| %>
<p><%= f.label :body, "New Review" %><br/>
<%= f.text_area :body %>
</p>
<p><%= f.submit "Add Review" %></p>
<% end %>