<p id="notice"><%= notice %></p>
<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<p>
  <strong>Average Rating: </strong>
  <%= @item.average_rating %>
</p>

<%= link_to 'Back', items_path %>
<% if current_user.role == 1 %>
    | <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<% end %>

<h3> Write a Review </h3> 
<%= form_for [@item, Review.new], remote: true do |f| %>
<p><%= f.label :title, "Title" %><br/>
<%= f.text_field :title %>
<p><%= f.label :body, "Body" %><br/>
<%= f.text_area :body %>

<p>Rating<br/>
  <%= f.select :rating, [1,2,3,4,5,6,7,8,9,10]%>
</p>
  <div class="field" hidden>
  <% if user_signed_in? %>
    <%= f.text_field :user_id, required: true, class: 'form-control', value:current_user.id %>
    <% else %>
    <%= f.text_field :user_id, required: true, class: 'form-control'%>
    <% end %>
  </div>
  <div class="field" hidden>
  <% if user_signed_in? %>
    <%= f.text_field :item_id, required: true, class: 'form-control', value:@item.id %>
    <% else %>
    <%= f.text_field :item_id, required: true, class: 'form-control'%>
    <% end %>
  </div>
<p><%= f.submit "Add Review" %></p>
<% end %>
<h2>Reviews</h2>
<div id="reviews">
  <%= render :partial => @item.reviews.reverse %>
</div>

