<h3>Categories</h3>
    <% @categories.each do |category| %>
       <div>
         <ul>
       <li><%= category.name %></li> &nbsp; &nbsp;
        <%= link_to 'Show', category %>
        <% if current_user.role == 1 %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <% end %>
    <% end %>
    </ul>
    </div>
<br>

<% if current_user.role == 1 %>
  <%= link_to 'New Category', new_category_path %>
<% else %>
<% end %>

