      <%= div_for review do %>
      <p>
        by <%= review.user.email %>
        <br/>
        <strong> Posted <%= time_ago_in_words(review.created_at) %> </strong>
        <br/>
        <h3> <%= h(review.title) %> </h3>
        <%= h(review.body) %> <br/>
        Rating :<%= h(review.rating) %>  <br/>
        <%= link_to "Show", review %>
        <%= link_to "Write a Comment", review %>
        
        <% if current_user.id == review.user.id || current_user.role == 1 %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else%>
        <% end %>

      </p>
      <hr/>
    <%end%>