<h1>Listing reviews</h1>



    <% @reviews.each do |review| %>
    <div>
      <hr>
      <h3>
        <strong>
        <%= review.title %>
         <p> About:  <%= review.item_id %> </p>
    </strong>
      </h3>
        <strong>
        <%= review.body %>
    </strong>
        <br/>
        
            Rate:<%= review.rating %>
        <br/>
        Written By:<%= User.find(review.user_id).email %>
        <%= link_to review.title, review %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>


<br>

<%= link_to 'New Review', new_review_path %>
