<h1>Listing reviews</h1>



    <% @reviews.each do |review| %>
    <div>
      <hr>
        <%= review.title %>
        <br/>
        <%= review.body %>
        <br/>
        <%= review.rating %>
        <br/>
        <%= @user[review.user_id].email %>
        <br/>
        <%= review.item_id %>
        <br/>
        <%= link_to 'Show', review %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>


<br>

<%= link_to 'New Review', new_review_path %>
