<h1><font size="3">Reviews</h1>



    <% @reviews.each do |review| %>
    <div>
      <hr>
      <h3>
        <strong>
        <%= review.title %>
         <p> About:  <%= review.item.name %> </p>
    </strong>
      </h3>
        <strong>
        <%= review.body %>
    </strong>
        <br/>
        
            Rate:<%= review.rating %>
        <br/>
        Written By:<%= review.user.email %>
        <%= link_to "Show", review %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>


<br>

<%= link_to 'New Review', new_review_path %>
