<h1><font size="3"> Latest Reviews:</h1>



    <% @reviews.each do |review| %>
    <ul>
      
        <li><h3><strong> <%= review.title %></strong></h3></li> <br/>
        <li><strong><p> About:  <%= review.item.name %> </p></strong> <br/> </li>
        <li> <%= review.body %></li>
        <br/>
        <li>Rating:<%= review.rating %></li>
        <br/>
        <li><p>Written By:<%= review.user.email %></p></li>
        <br/>

        <li><%= link_to "Show", review %></li>
        <li><%= link_to "Write a Comment", review %></li>
        
    <% if current_user.id == review.user.id || current_user.role == 1  %>
        <li><%= link_to 'Edit', edit_review_path(review) %></li>
        <li><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% else %>
    <% end %>

    </ul>
    <% end %>


<br>
