<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.User_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @review.Item_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
