<h1><font size="2"> </h1>
<p id="notice"><%= notice %></p>

      <h3>
        <strong>
        <%= @review.title %>
         <p> About: <%= @review.item.name %> </p>
    </strong>
      </h3>

<p>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Written by:</strong>
<%= @review.user.email %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
 
<%= form_for [@review, Comment.new], remote: true do |f| %>
<p><%= f.label :body, "New Comment" %><br/>
<%= f.text_area :body %>
</p>
<p><%= f.submit "Add Comment" %></p>
<% end %>


<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @review.comments.reverse %>
</div>
