<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @review.item_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>

<h2> Comments </h2>
  <div id="comments">
    <% @review.comments.each do |comment| %>
      <%= div_for comment do %>
      <p>
        <strong> Posted <%= time_ago_in_words(comment.created_at) %> </strong>
        <br/>
        <%= h(comment.body) %>
      </p>
    <%end%>
  <%end%>
</div>

<%= form_for [@review, Comment.new], remote: true do |f| %>
<p><%= f.label :body, "New Comment" %><br/>
<%= f.text_area :body %>
</p>
<p><%= f.submit "Add Comment" %></p>
<% end %>